body {
  font-family: Arial, sans-serif;
  background-color: #fefefe;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #f2f2f2;
  padding: 15px 0;
  margin-bottom: 30px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #2c3e50;
  font-weight: bold;
}

nav a:hover {
  color: #e67e22;
}

h1 {
  color: #2c3e50;
}

p {
  max-width: 600px;
  margin: 10px auto;
  line-height: 1.5;
}

img {
  max-width: 400px;
  margin: 10px 0;
  border-radius: 8px;
}
/* FOTO GALLERY */

.gallery{
margin-top:30px;
}

.gallery img{
width:100%;
max-width:350px;
margin:10px;
border-radius:12px;
box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

/* naast elkaar op groter scherm */

@media (min-width: 700px){
.gallery{
display:flex;
justify-content:center;
}
}
/* NAVIGATIE */

.nav{
background: rgba(255,182,193,0.9);
padding:15px;
position:sticky;
top:0;
z-index:1000;
}

.nav a{
margin:0 15px;
text-decoration:none;
color:#333;
font-weight:bold;
}

.nav a:hover{
color:#ff4fa3;
}
